@import '../../styles/core.scss';

.component {
  @include input;
  display: block;
  padding: 8px 12px;
  width: 100%;
  border: solid 2px map-get($colors, gray300);
  border-radius: 3px;
  margin-bottom: 24px;
  font-size: 1.6rem;
  color: map-get($colors, gray900);

  &:focus {
    outline: none;
    border-color: rgba(map-get($colors, orange), 0.4);
  }
}
