@import '../../styles/core.scss';

div.column {
  @include breakpoint(large) {
    padding: 0;
  }
}

.information {
  margin-bottom: 32px;
  background-color: white;
  padding: 32px 24px;

  @include breakpoint(medium) {
    padding: 44px;
    margin-top: -24px;
  }
}

.ingredientsList {
  margin-top: 24px;
  margin-bottom: 44px;
}

.ingredient {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.3rem;
  line-height: 1.4em;
  color: map-get($colors, gray800);
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: dashed 1px map-get($colors, gray300);

  @include breakpoint(medium) {
    font-size: 1.5rem;
  }

  & b {
    font-weight: 700;
    font-size: 1.2em;
    margin-right: 12px;
    width: 32px;
    text-align: right;
  }
}

.figure {
  display: block;
  margin-top: -64px;

  & img {
    width: 100%;
  }

  @include breakpoint(large) {
    order: 2;
    padding: 0;
    margin-top: 0;
    margin-left: -24px;
  }
}

.instructions {
  margin-top: 24px;
  counter-reset: instructions;
}

.instruction {
  position: relative;
  padding-left: 32px;
  counter-increment: instructions;
  color: map-get($colors, gray900);

  &::before {
    content: counter(instructions);
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 2.2rem;
  }
}

