{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "polished",
    "styled-components"
  ],
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  }
}
