@import '../../styles/core.scss';

.grid {
  display: flex;
  flex-flow: row wrap;
  max-width: 1170px;
  margin: 0 auto;
}

.column {
  display: flex;
  padding: 0 8px;

  @include breakpoint(small) {
    padding: 0 12px;
  }

  @include breakpoint(medium) {
    padding: 0 22px;
  }
}

.small {
  @for $i from 1 through 12 {
    &--#{$i} {
      width: #{$i * (100 / 12) * 1%};
    }
  }
}

.medium {
  @include breakpoint(medium) {
    @for $i from 1 through 12 {
      &--#{$i} {
        width: #{$i * (100 / 12) * 1%};
      }
    }
  }
}

.large {
  @include breakpoint(large) {
    @for $i from 1 through 12 {
      &--#{$i} {
        width: #{$i * (100 / 12) * 1%};
      }
    }
  }
}
