@import '../../styles/core.scss';

.component {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 96px 32px 112px;
  text-align: center;
  border-bottom: solid 1px map-get($colors, gray200);

  @include breakpoint(mobile) {
    padding: 32px 24px 48px;
  }

  & h1 {
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
  }
}

