@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  margin-top: 4px;

  & span {
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: map-get($colors, gray300);

    @include breakpoint(medium) {
      margin: 0 4px;
      width: 8px;
      height: 8px;
    }

    &:nth-child(1) {
      animation: loader 1.4s infinite ease;
    }

    &:nth-child(2) {
      animation: loader 1.4s infinite ease 160ms;
    }

    &:nth-child(3) {
      animation: loader 1.4s infinite ease 320ms;
    }
  }
}

.error {
  font-size: 44px;
  color: map-get($colors, gray300);

  @include breakpoint(medium) {
    font-size: 62px;
  }
}
