.component {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 44px 16px;
  text-align: center;

  @include breakpoint(medium) {
    padding: 96px 32px 112px;
  }

  & > h1:last-child {
    margin-bottom: 0;
  }

  & h1 {
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
  }
}

.single {

}
