@import '../../styles/core.scss';

.component {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  text-decoration: none;
  color: map-get($colors, gray900);
  margin-bottom: 24px;
  background-color: map-get($colors, white);
  transition: all 160ms map-get($easings, appleEase);

  @include breakpoint(medium) {
    margin-bottom: 44px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 3px 32px rgba(map-get($colors, gray900), 0.12);
  }
}

.figure {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 64%;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.body {
  flex-grow: 1;
  padding: 12px;
  text-align: center;

  @include breakpoint(medium) {
    padding: 24px;
  }
}

.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 8px 12px 8px;

  @include breakpoint(medium) {
    padding: 16px 24px 24px;
  }

  & svg {
    font-size: 1em;

    @include breakpoint(medium) {
      font-size: 1.4em;
    }
  }

  & span {
    display: inline-block;
    vertical-align: 10%;
  }
}
