@import '../../styles/core.scss';

.component {
  display: block;
  text-decoration: none;
  color: map-get($colors, gray900);
  margin-bottom: 44px;
}

.image {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 64%;
  margin-bottom: 16px;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
