@import '../../styles/core.scss';

.component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
  padding: 24px 32px;
}

.logo {
  font-size: 24px;
  color: map-get($colors, orange);
  text-decoration: none;

  & svg {
    font-size: 1.4em;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
  }
}
