@import '../../styles/core.scss';

.component {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 24px 32px;

  @include breakpoint(mobile) {
    flex-flow: column wrap;
  }
}

.logo {
  font-size: 24px;
  color: map-get($colors, orange);
  text-decoration: none;
  white-space: nowrap;

  @include breakpoint(mobile) {
    margin-bottom: 32px;
  }

  & svg {
    font-size: 1.4em;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
  }
}
