@import '../../styles/core.scss';

.component {
  padding: 16px 32px;
  // border-top: solid 1px map-get($colors, gray200);
  background-color: white;
}

.grid {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.copyright {
  color: map-get($colors, gray500);
  margin-bottom: 0;
  font-size: 1rem;
}

.logo {
  font-size: 1.4rem;
  color: map-get($colors, orange);
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 8px;

  & svg {
    font-size: 1.4em;
  }

  & span {
    display: inline-block;
    vertical-align: middle;
  }
}
