<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="google-site-verification" content="JJUdbI92WrBOg7pL8KzjMu9Vi2m0FfhktUhyNsjW3B8" />
  <meta name="theme-color" content="#ff5722">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png">
  <link rel="apple-touch-icon" href="/icon-192.png">
  <title>Luncha – Hitta nya recept och inspirera ditt matlagande</title>
  <meta name="description" content="">
  <% htmlWebpackPlugin.files.js.forEach((jsFile) => { %><link rel="preload" href="<%= jsFile %>" as="script"><% }) %>
  <% htmlWebpackPlugin.files.css.forEach((cssFile) => { %>
    <style>
      <%= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </style>
  <% }) %>
</head>
<body>
  <noscript>Den här webbplatsen kräver JavaScript för att fungera.</noscript>
  <div id="app"></div>
  <% htmlWebpackPlugin.files.js.forEach((jsFile) => { %>
    <script src="<%= jsFile %>"></script>
  <% }) %>
</body>
</html>
