@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');

html {
  font-family: map-get($font, family);
  font-size: 10px;
  -webkit-font-smoothing: antialiased;

  & a {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
  }
}

b,
strong {
  font-weight: bold;
  line-height: inherit;
}

i,
em {
  font-style: italic;
  line-height: inherit;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.4em;

  @include breakpoint(mobile) {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
  color: map-get($colors, gray900);
}

h6 {
  font-size: 1.2rem;
  font-weight: 400;
  color: map-get($colors, gray600);
}
